* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 600px;
    border: 1px solid greenyellow;
    background: #ccc;
}

.ul-slider {
    /*no tiene altura*/
    border: 1px dashed purple;
    width: 100%;
}

.ul-slider li {
    position: absolute;
    left: -800px;
    width: 100%;
    background: blue;
}

.li-animation-in {
    -webkit-animation: kf-wk-slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: kf-slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes kf-wk-slide {
    100% { left: 0; }
}

@keyframes kf-slide {
    100% { left: 0; }
}
